:root {
    /* breakpoints */
    --small: 480px;
    --medium: 768px;
    --large: 1024px;

    /* nav height */
    --nav-height: 57.422px;

    /* colors */
    --idsred: #990000;
    --offblack: rgb(24, 24, 24);
    --gray10: rgb(230, 230, 230);
    --gray20: rgb(204, 204, 204);
    --gray30: rgb(179, 179, 179);
    --gray40: rgb(153, 153, 153);
    --gray50: rgb(128, 128, 128);
    --gray60: rgb(102, 102, 102);
    --gray70: rgb(77, 77, 77);
    --gray80: rgb(51, 51, 51);
    --gray90: rgb(26, 26, 26);

    /* widths */
    --width-xxl: 1600px;
    --width-xl: 1280px;
    --width-lg: 992px;
    --width-md: 672px;
    --width-sm: 336px;
    --width-xs: 192px;

    /*  */
    --xxs: 4px;
    --xs: 8px;
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
    --xl: 48px;
    --xxl: 64px;
}

.pointer {
    cursor: pointer;
}

.dn,
.hover-dn:hover {
    display: none;
}

.db {
    display: block;
}

.dib,
.hover-dib:hover {
    display: inline-block;
}


.mw-xxl {
    max-width: var(--width-xxl);
}

.mw-xl {
    max-width: var(--width-xl);
}

.mw-lg {
    max-width: var(--width-lg);
}

.mw-md {
    max-width: var(--width-md);
}

.mw-sm {
    max-width: var(--width-sm);
}

.mw-xs {
    max-width: var(--width-xs);
}

.vw-100 {
    width: 100vw;
}

.vh-100 {
    height: 100vh;
}

.vh-100--nav-height {
    height: calc(100vh - var(--nav-height));
}

.op-center {
    object-position: center center;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.transparent {
    color: rgba(0, 0, 0, 0);
}

/* background */
.bg-black {
    background-color: black;
}

.bg-offblack {
    background-color: var(--offblack);
}

.bg-idsred {
    background-color: var(--idsred);
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

/* margin */
.mt-0 {
    margin-top: 0;
}

.mt-xxs {
    margin-top: var(--xxs);
}

.mt-xs {
    margin-top: var(--xs);
}

.mt-sm {
    margin-top: var(--sm);
}

.mt-md {
    margin-top: var(--md);
}

.mt-lg {
    margin-top: var(--lg);
}

.mt-xl {
    margin-top: var(--xl)
}

.mt-xxl {
    margin-top: var(--xxl);
}

.mt-auto {
    margin-top: auto;
}

.ml-0 {
    margin-left: 0;
}

.ml-xxs {
    margin-left: var(--xxs);
}

.ml-xs {
    margin-left: var(--xs);
}

.ml-sm {
    margin-left: var(--sm);
}

.ml-md {
    margin-left: var(--md);
}

.ml-lg {
    margin-left: var(--lg);
}

.ml-xl {
    margin-left: var(--xl)
}

.ml-xxl {
    margin-left: var(--xxl);
}

.ml-auto {
    margin-left: auto;
}

.mr-0 {
    margin-right: 0;
}

.mr-xxs {
    margin-right: var(--xxs);
}

.mr-xs {
    margin-right: var(--xs);
}

.mr-sm {
    margin-right: var(--sm);
}

.mr-md {
    margin-right: var(--md);
}

.mr-lg {
    margin-right: var(--lg);
}

.mr-xl {
    margin-right: var(--xl)
}

.mr-xxl {
    margin-right: var(--xxl);
}

.mr-auto {
    margin-right: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-xxs {
    margin-bottom: var(--xxs);
}

.mb-xs {
    margin-bottom: var(--xs);
}

.mb-sm {
    margin-bottom: var(--sm);
}

.mb-md {
    margin-bottom: var(--md);
}

.mb-lg {
    margin-bottom: var(--lg);
}

.mb-xl {
    margin-bottom: var(--xl)
}

.mb-xxl {
    margin-bottom: var(--xxl);
}

.mb-auto {
    margin-bottom: auto;
}

.ma-0 {
    margin: 0;
}

.ma-xxs {
    margin: var(--xxs);
}

.ma-xs {
    margin: var(--xs);
}

.ma-sm {
    margin: var(--sm);
}

.ma-md {
    margin: var(--md);
}

.ma-lg {
    margin: var(--lg);
}

.ma-xl {
    margin: var(--xl)
}

.ma-xxl {
    margin: var(--xxl);
}

.ma-auto {
    margin: auto;
}

/* padding */
.pt-0 {
    padding-top: 0;
}

.pt-xxs {
    padding-top: var(--xxs);
}

.pt-xs {
    padding-top: var(--xs);
}

.pt-sm {
    padding-top: var(--sm);
}

.pt-md {
    padding-top: var(--md);
}

.pt-lg {
    padding-top: var(--lg);
}

.pt-xl {
    padding-top: var(--xl)
}

.pt-xxl {
    padding-top: var(--xxl);
}

.pl-0 {
    padding-left: 0;
}

.pl-xxs {
    padding-left: var(--xxs);
}

.pl-xs {
    padding-left: var(--xs);
}

.pl-sm {
    padding-left: var(--sm);
}

.pl-md {
    padding-left: var(--md);
}

.pl-lg {
    padding-left: var(--lg);
}

.pl-xl {
    padding-left: var(--xl)
}

.pl-xxl {
    padding-left: var(--xxl);
}

.pr-0 {
    padding-right: 0;
}

.pr-xxs {
    padding-right: var(--xxs);
}

.pr-xs {
    padding-right: var(--xs);
}

.pr-sm {
    padding-right: var(--sm);
}

.pr-md {
    padding-right: var(--md);
}

.pr-lg {
    padding-right: var(--lg);
}

.pr-xl {
    padding-right: var(--xl)
}

.pr-xxl {
    padding-right: var(--xxl);
}

.pb-0 {
    padding-bottom: 0;
}

.pb-xxs {
    padding-bottom: var(--xxs);
}

.pb-xs {
    padding-bottom: var(--xs);
}

.pb-sm {
    padding-bottom: var(--sm);
}

.pb-md {
    padding-bottom: var(--md);
}

.pb-lg {
    padding-bottom: var(--lg);
}

.pb-xl {
    padding-bottom: var(--xl)
}

.pr-xxl {
    padding-bottom: var(--xxl);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-1 {
    flex: 1;
}

.flex-0 {
    flex: 0;
}

.flex-none {
    flex: none;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-baseline {
    align-items: baseline;
}

.items-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-start,
.justify-flex-start {
    justify-content: flex-start;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none;
}

.of-contain {
    object-fit: contain;
}

.of-cover {
    object-fit: cover;
}

.o-0 {
    opacity: 0;
}

.o-15 {
    opacity: .15;
}

.o-50 {
    opacity: 0.5;
}

.o-75 {
    opacity: 0.75;
}

.o-100,
.o-1 {
    opacity: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-xscroll {
    overflow-x: scroll;
    scrollbar-width: none;
}

.overflow-xscroll::-webkit-scrollbar {
    display: none;
}

.overflow-yscroll {
    overflow-y: scroll;
    scrollbar-width: none;
}

.overflow-yscroll::-webkit-scrollbar {
    display: none;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.top-50 {
    top: 50%;
}

.bottom-0 {
    bottom: 0;
}

.hidden {
    visibility: hidden;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.list-unstyled {
    list-style-type: none;
}

@media only screen and (min-width: var(--large)) {
    .overflow-visible-l {
        overflow: visible;
    }

    .grid-l {
        display: grid;
    }

    .dib-l {
        display: inline-block;
    }

    .db-l {
        display: block;
    }

    .flex-l {
        display: flex;
    }

    .mt-md-l {
        margin-top: var(--md);
    }
}

@media only screen and (min-width: var(--medium)) {
    .grid-ns {
        display: grid;
    }

    .absolute-ns {
        display: absolute;
    }

    .fixed-ns {
        position: fixed;
    }

    .sticky-ns {
        position: sticky;
    }

    .mt-xxs-ns {
        margin-top: var(--xxs);
    }

    .dn-ns {
        display: none;
    }

    .dib-ns {
        display: inline-block;
    }

    .db-ns {
        display: block;
    }

    .flex-ns {
        display: flex;
    }

    .flex-ns-row {
        flex-direction: row;
    }

    .items-start-ns {
        align-items: flex-start;
    }

    .items-center-ns {
        align-items: center;
    }

    .items-end-ns {
        align-items: flex-end;
    }

    .justify-center-ns {
        justify-content: center;
    }

    .justify-between-ns {
        justify-content: space-between;
    }

    .fl-ns {
        float: left;
    }

    .fr-ns {
        float: right;
    }

    .overflow-hidden-ns {
        overflow: hidden;
    }
}

@media only screen and (max-width: var(--medium)) {
    .left-0-s {
        left: 0;
    }

    .right-0-s {
        right: 0;
    }

}